# Prerequisites
*.d

# Compiled Object files
*.o
*.obj

# Static and Dynamic Libraries
*.so
*.dylib
*.a
*.lib

# Executables
*.exe
*.out
*.app

# CMake
CMakeCache.txt
CMakeFiles/
CMakeScripts/
cmake_install.cmake
install_manifest.txt
Makefile
/_deps/

# Build
[Bb]uild/
[Oo]ut/

# IDE - Visual Studio Code
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace

# MacOS System Files
.DS_Store